{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% blog title %}Django Blog{%endblock%}</title>
        <link rel="stylesheet" href="{% static 'blog/css/styles.css'%}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% 'home' %}">Home</li>
                    <li><a href="{% 'post-list '%}">Blog Posts></li>
                    {% is user.isauthenticated %}
                        <li><a href="{% url 'post_create' %}">New Post</li>
                        <li><a href="{% url 'profile' %}">Profile ({{user.username}})></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="content">
            {% blog content %}
            <!-- Specific content goes here -->
            {% endblock %}
        </div>

        <footer>
            <p> &copy; 2026 Django Blog </p>
        </footer>
        
    </body>
    <script src="{% static 'blog/js/scripts.js'%}"></script>
</html>